*{
    font-family: "Microsoft Sans Serif Regular";
}

.body {

    background-color: rgb(205, 214, 229);
}

#myCanvas{
    background-color: white;
    margin: 0.5%;
    border: 1px solid black;
}

ul{
    margin-bottom: 0.5% !important;
    margin-top: 0.5% !important;
}

hr{
    width: 80% !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-left: 1% !important;
}

.hrHelp{
    width: 100% !important;
}

.top{
    background-color: rgb(245, 246, 247);
    margin-top: -0.5%;
    width: 100%;
    height: 13%;
    padding-top: 0.5%;
    border-bottom: solid 0.5px silver;

}

.top:first-child{
    margin-left: -0.5%;
    margin-right: -0.5%;
}
#tools{
    padding-left: -5%;
    margin-right: -0.5%;
}

.elements{
    margin-left: -4%;
}

.buttonPaint, .startPaint {
    border: 0.5px silver solid;
    color: white;
    padding: 1.5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8em;
    margin: 1.5px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
}

.buttonDimensionPaint{
    display: inline-block;
    background-color: rgb(245, 246, 247);
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
    width: 32.5%;
    opacity: 0.5;
}

.buttonDimensionPaint:hover{
    background-color: rgb(205, 214, 229);
    border: 0.5px rgb(245, 246, 247) solid;
    opacity: 1;
}

.name{
    padding: 1.5px;
    display: inline-block;
    font-size: 0.8em;
    margin: 1.5px;
}

.buttonPaint, .inputPaint, .startPaint{
    color: black;
}

.startPaint{
    background-color: white; 
    color: black; 
    border: 2px solid rgb(205, 214, 229);
    font-size: 1.5em;
}

.labelPaint{
    font-size: 0.8em;
}


.none:hover{
    background-color:  rgb(245, 246, 247);
    cursor: default;
}


#graphicContext{
    width: 50%;
}

#topBar, #setupText {
    margin: 0.5%;
}


.menuOptions{
    padding: 0.1%;
    background-color: whitesmoke;
}

#repaintName{
    color: blue;
    font-size: 5em;
}
.drop{
    color: white;
    text-decoration: line-through;
}

.active{
    background-color: rgb(205, 214, 229);
    border-radius: 5px;
}

#infoHome{
    cursor: pointer;
}

#dialog, #setupText{
    
    background-color: white;
    border: solid silver 0.5px;
    border-radius: 5px;
    padding: 1%;
}

#dialog h5{
    text-align: center;
    margin-bottom: 1%;

}

#otherShortcuts{
    border-left: solid silver 0.5px;
    padding-left: 1%;
}

.closeHelp{
    text-align: center;
    color: red;
}
.closeHelp:hover{
    cursor: pointer;
}

.bold{
    font-weight: bold;
}

.focus{
    color: red;
}

#labelCanvasDimension{
    padding-right: 5%;
}

#setDimensionOfBrush, #setDimensionOfPencil{
    padding-left: 2.5%;
}

select {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: rgb(245, 246, 247);
    font-size: 0.9em !important;
}

input{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 0.9em !important;
}

#leftPreCanvas{
    padding: 2.5%;
    padding-top: 10%;
}

#rightPreCanvas{
    background-color: rgb(245, 246, 247);
    height: 101%;
    padding-top: 2.5%;
}


.fontVariant{
    background-color:  rgb(245, 246, 247);
}

.active{
    background-color: rgb(205, 214, 229);
    border-radius: 5px;
}

#tools{
    background-color: rgb(245, 246, 247);
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }