*{
    margin: 0;
    border: 0;
    font-family: 'Century Gothic', sans-serif;
    color: black;
}

body {
    background-color: #0B3049;
} 

#myCanvas {
    background-color: white;
    border-style: solid;
    border-width: 20px;
    border-color: #07263B;   
}

/************************************NAV SUPERIORE*********************************/
nav{
    height: 50px;
    
}

.buttonNav{
    margin-top: 10px;
    float: left;
    background-color: #072133; 
    border: none;
    color: white;
    padding: 10px;   
    text-align: center;
    text-decoration: none;
    display: inline-block;   
    margin-left: 35px ;
    cursor: pointer;
    border-radius: 50%;    
    width: 40px;
    height: 40px;  
}

.textIcon{
    margin-top: -8px;
    font-family: 'Arial Unicode MS';
    font-size: 25px;
    color: white;
}

.navIcon{
    height: 20px;
    width: 20px;
   
}

#undo, #zoomPlus, #help, #rotateLeft{
    margin-left: 60px;
    
}

/**********************************PARTE DESTRA**********************************/

#exportFile{
    width: 270px;
    height: 40px;
    font-size: 30px;
    background-color: #218791;
    color: white;
    font-style: bold;
    border-radius: 12px;
}

#rightContent{
    position: absolute;
    right: 0;
    margin-top: 10px;
    margin-right: 20px;    
    top: 0;
}

#colorPalette{
    position: absolute;    
    width: 270px;
    right: 0;
    top: 0;
}

#palette{
    margin: 15px;
    width: 80%;
}

#setupText{
    float: right;
    position: absolute;
    right: 0;
    top: 250;
}

.rightOption{
    margin-top: 70px;
    background-color: #072133;
}

#inputText{
    width: 230px;
}

#inputTextFamily{
    width: 230px;
}

.textBox{
    margin-top: 15px;
    margin-left: 15px;
    height: 50px;
    border-radius: 12px;
    font-size: 15px;
}

#sendText{
    margin-bottom: 15px;
    width: 100px;
    background-color: #E5D948;
}

#inputTextSize{
    width: 100px;
}

#titlePalette{
    color: white;
    text-align: center;
    margin-top: 15px;
    font-size: 25px;
}

/*************************************footer************************************/

footer{
    margin-top: 2%;
    bottom: 10;
    position: absolute;
}  

.buttonPaint { 
    background-color: #072133; 
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 60px ;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 50%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    width: 60px;
    height: 60px;
}

.icona{
    height: 25px;
    width: 25px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
   
  
}


.modal-content {
   
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 0px; /* Location of the box */
    left: 20%;
    bottom: 85;
    width: 160px; /* Full width */
    height: 75px; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #072133;
    padding: 5px;
    border-radius: 12px;
    
}



/* The Close Button */


.close:hover,
.close:focus {
   
    cursor: pointer;
}

#rect{
    float: left;
    margin-top: 5%;
    margin-left: 8%;
}

#ellipse{
    margin-top: 5%;
    margin-left: 10%;
}